@import '../styles/mixins';
@import '../styles/variables';

.image {
  border: 2px solid $border-color;
  border-radius: 2px;
  width: 315px;
  height: 459px;
  float: left;
  overflow: hidden;
  margin-bottom: 35px;

  &.-removed {
    display: none;
  }
}

.image > header {
  max-width: 311px;
  max-height: 315px;
  border-bottom: 2px solid $border-color;

  > a {
    display: block;
  }
}

.image > .meta {
  position: relative;
  max-height: 45px;
  margin: 13px 13px 0 13px;

  @include clearfix;

  > .avatar {
    float: left;
    max-width: 45px;
    max-height: 45px;
    margin-right: 9px;
  }

  > .username {
    float: left;
    line-height: 45px;
    font-size: 0.875em;
    font-weight: bolder;
  }

  > a.service-link,
  > .icon {
    color: $primary-color;
    float: left;
    font-size: 1.25em;
    position: absolute;
    right: 0;
    top: 0;
  }

  > a.service-link {
    opacity: 1;
    transition: opacity .5s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.image > footer {
  max-height: 54px;
  margin: 15px 13px 13px 13px;
  overflow: hidden;

  > p {
    margin: 0;
    max-height: inherit;
    font-size: 0.8125em;
  }
}
