// Remember to use rems and ems. http://css-tricks.com/rems-ems.

@import '~normalize.css/normalize';
@import '~font-awesome/css/font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// Goodness.
*, ::after, ::before {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Open Sans','sans-serif';
  font-size: 16px;
  line-height: 1.5;
}

header img {
  max-width: 100%;
  height: auto;
}

.gallery {

}